@{
    ViewData["Title"] = "Histórico de Exercícios";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FIT APP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <ul class="list-group">
            @foreach (var exercicio in ViewBag.HistoricoExercicios)
            {
                <li class="list-group-item">@exercicio</li>
            }
        </ul>
    </div>
</body>
</html>
